
.block{
    display: flex;
    flex-direction: column;
    position: relative;
    width:75%;
}
.lock{
    display: flex;
    align-items: center;
}
.row-post{
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    padding-left: 1%;   
    transition: transform 1.2s;
    border: 1px solid black;
    border-radius: 5px;
}
.row-post a {
    color: black;
}

.title:hover a{
    color: white;
}
.row-post > .title{
    letter-spacing: 3px;
    font-size: 1.25em;
}
.row-post >.description{
    width: 50%;
    font-family: poppins;
    display: flex;
    position: relative;
    color:rgba(130, 140, 243, 0.767)
}
.lock{
    color:black;
    font-size: 1em;
    float:right;
    margin: 1%;
  
}
.title{
    display: flex;
}
.numOfPostVar{
    font-size: 0.55em;
    font-family: poppins;
    letter-spacing: 1px;
    position: absolute;
    right: 5%;
    color:grey;
}
.numOfPost{
    font-size: 0.55em;
    font-family: poppins;
    letter-spacing: 1px;
    position: absolute;
    right: 10%;
    color:grey;
}
.numOfUsersVar{
    font-size: 0.55em;
    font-family: poppins;
    letter-spacing: 1px;
    position: absolute;
    margin-top: 5%;
    right: 5%;
    color:grey;
}
.numOfUsers{
    font-size: 0.55em;
    font-family: poppins;
    letter-spacing: 1px;
    position: absolute;
    right: 10%;
    margin-top: 5%;
    color:grey;
}
@font-face{
    font-family: 'pm';
    src:url("assets/PermanentMarker-Regular.ttf");
}
@font-face{
    font-family: 'kalam';
    src:url("assets/Kalam-Regular.ttf");
}
@font-face{
    font-family: 'poppins';
    src:url("assets/Poppins-Medium.ttf");
}
