.page{
    text-align: center;
    font-family: poppins;
}
.addMod{
    margin: 2%;
}
.removeModerator{
    margin: 2%;
}
.banUser{
    margin: 2%;
}
.unban{
    margin: 2%;
}
@font-face{
    font-family: 'poppins';
    src:url("assets/Poppins-Medium.ttf");
}