<div class="page" 
[ngStyle]="{'background-image':'url(https://media.giphy.com/media/d5PPYjcb3caPTHM3hv/giphy.gif)'}">
    <div class="sort">
        <select (change)="modo($event.target.value)">
            <option>Sort-by</option>
            <option value="popular">Most Popular</option>
            <option value="new">New</option>
            <option value="active">Most Active</option>
            <span class="focus"></span>
        </select>
    </div>
    <div class="sidebar">
        <div class="sTitle"><h1 style="color: white;">Connect<span style="color: greenyellow;">UL</span></h1></div>
        <div class="create">
            <button class = "community" routerLink ="/create-forum">Create Community</button>
            <button class="post" routerLink = "/create-post">Create Post</button>
        </div>
    </div>
    <div class="allForums">
        <app-forum-tile [forums] = "forums"></app-forum-tile>
    </div>
</div>
